
<div class="form-row">
  <div class="col-md-6 mb-3">
    {{ form_label(form.username) }}
    {{ form_widget(form.username) }}
    {{ form_errors(form.username) }}
  </div>

  <div class="col-md-6 mb-3">
    {{ form_label(form.email) }}
    {{ form_widget(form.email) }}
    {{ form_errors(form.email) }}
  </div>
</div>

<div class="form-row">
  <div class="col-sm-6 mb-3">
    {{ form_label(form.plainPassword.first) }}
    {{ form_widget(form.plainPassword.first) }}
    {{ form_errors(form.plainPassword.first) }}
  </div>

  <div class="col-sm-6 mb-2">
    {{ form_label(form.plainPassword.second) }}
    {{ form_widget(form.plainPassword.second) }}
    {{ form_errors(form.plainPassword.second) }}
  </div>
</div>
