{% extends 'vertically.html.twig' %}
{% set core_class = 'app-core--login-page' %}

{% block body_vertical_content %}
<form class="mb-5" action="{{ path('login') }}" method="post">
  {% include 'components/flashes.html.twig' %}
  <h2 class="page-header h3">{{ 'page.login.title'|trans }}</h2>

  {% if error %}
  <div class="alert alert-warning">
    {{ error.messageKey|trans(error.messageData, 'security') }}
  </div>
  {% endif %}

  <label for="username" class="sr-only">{{ 'form_login.login.label'|trans }}</label>
  <div class="input-group input-group--icon mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text">
        <span class="icon-at-sign"></span>
      </span>
    </div>
    <input class="form-control" type="text" id="username" name="_username" placeholder="{{ 'form_login.login.placeholder'|trans }}" value="{{ last_username }}" />
  </div>

  <label for="password" class="sr-only">{{ 'form_login.password.label'|trans }}</label>
  <div class="input-group input-group--icon mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text">
        <span class="icon-lock"></span>
      </span>
    </div>
    <input class="form-control" type="password" id="password" name="_password" placeholder="{{ 'form_login.password.placeholder'|trans }}" />
  </div>

  <div class="row">
    <div class="col-7 pt-2 pr-0">
      <div class="custom-control custom-checkbox">
        <input class="custom-control-input" type="checkbox" id="remember_me" name="_remember_me" checked>
        <label class="custom-control-label" for="remember_me">{{ 'form_login.stay_connected.label'|trans }}</label>
      </div>
    </div>

    <div class="col-5 pl-0 text-right">
      <button class="btn btn-primary" type="submit" name="login">
        {{ 'form_login.btn.label'|trans }}
      </button>
    </div>
  </div>
</form>

<div>
  <h2 class="page-header h3">{{ 'page.login.register.title'|trans|raw }}</h2>

  <a href="{{ path('user_registration') }}" class="btn btn-secondary">
    {{ 'page.login.register.link.label'|trans }}
  </a>
</div>
{% endblock %}
