{% extends 'vertically.html.twig' %}
{% set core_class = 'app-core--register-page' %}

{# delete errors from label ! #}
{% form_theme form _self %}
{% block form_label_errors %}{% endblock %}

{% block body_vertical_illus %}
  {% include 'components/logo.html.twig' with { custom_class : 'text-primary', link : path('home') } %}
  <div class="brand-speech">{{ 'global.speech'|trans }}</div>
{% endblock %}

{% block body_vertical_content %}
{{ form_start(form, { attr : { class: 'mb-5' } }) }}
  {% include 'components/flashes.html.twig' %}

  <h2 class="page-header h3">{{ 'page.register.title'|trans }}</h2>

  {% include 'security/form-user-inputs.html.twig' with { form : form } %}

  <div class="col-7 col-md-4 py-2 px-0 mt-2 mb-3 border-top small required required--prepend">
    {{ 'form.required'|trans }}
  </div>

  <button class="btn btn-primary" type="submit" name="register">
    {{ 'form_user.btn.register.label'|trans }}
  </button>
{{ form_end(form) }}

<div>
  <h2 class="page-header h3">{{ 'page.register.login.title'|trans|raw }}</h2>
  <a href="{{ path('login') }}" class="btn btn-secondary">
    {{ 'page.register.login.link.label'|trans }}
  </a>
</div>
{% endblock %}
