{% extends 'vertically.html.twig' %}

{% block body_vertical_content %}
<div class="textual-content">
  <h1 class="page-header h2 mt-3 mb-4">{{ 'page.about.title'|trans }}</h1>
  <div class="card mb-4">
    <div class="card-body">
      <h2 class="card-title h5">{{ 'page.about.block.dev.title'|trans }}</h2>
      <p class="card-text">{{ 'page.about.block.dev.text'|trans|raw }}</p>

      <hr class="w-25 my-4 ml-0">

      <h2 class="card-title h5">{{ 'page.about.block.medias.title'|trans }}</h2>
      <p class="card-text">{{ 'page.about.block.medias.text'|trans|raw }}</p>
    </div>
  </div>
</div>

<div>
  <a href="{{ path('dashboard') }}" class="btn btn-outline-secondary btn-sm">
    <span class="icon-chevron-left"></span> {{ 'page.btn_back_website.label'|trans }}
  </a>
</div>
{% endblock %}
