{% extends 'vertically.html.twig' %}

{% set releases = [
  { 'slug': 'alpha_0_4_0', 'count_new': 2 },
  { 'slug': 'alpha_0_3_1', 'count_new': 1, 'count_update': 1, 'count_fix': 1 },
  { 'slug': 'alpha_0_3_0', 'count_new': 4, 'count_fix': 1 },
  { 'slug': 'alpha_0_2_2', 'count_new': 1, 'count_fix': 2 },
  { 'slug': 'alpha_0_2_1', 'count_update': 1 },
  { 'slug': 'alpha_0_2_0', 'count_update': 2 },
  { 'slug': 'alpha_0_1_6', 'count_update': 1, 'count_fix': 1 },
  { 'slug': 'alpha_0_1_3', 'count_new': 3, 'count_update': 1, 'count_fix': 2 },
  { 'slug': 'alpha_0_1_2', 'count_new': 1, 'count_fix': 2 },
  { 'slug': 'alpha_0_1_0', 'count_new': 3 }
] %}


{% block body_vertical_content %}
<div class="textual-content">
  {# TODO LIST ----------------------- #}
  {% set prefix_txt_todo = 'page.release_notes.todo.' %}
  <h1 class="page-header h2 mt-3 mb-4">{{ (prefix_txt_todo ~ 'title')|trans }}</h1>
  <div class="card mb-4">
    <table class="table table-striped mb-0">
      <thead>
        <tr>
          <th class="border-top-0" style="width: 33%">Intitulé</th>
          <th class="border-top-0 d-none d-sm-table-cell">Desc.</th>
          <th class="border-top-0 text-center" style="width: 17%">État</th>
        </tr>
      </thead>
      <tbody>
      {% for i in 1..4 %}
        {% set pfx_item = prefix_txt_todo ~ 'list.item_' ~ i ~ '.' %}
        <tr>
          <td class="font-weight-bold" style="width: 33%">{{ (pfx_item ~ 'label')|trans }}</td>
          <td class="d-none d-sm-table-cell">{{ (pfx_item ~ 'desc')|trans|raw }}</td>
          <td class="text-center" style="width: 17%">
            {% set percent = (pfx_item ~ 'percent_status')|trans|number_format %}
            <span class="badge badge-{% if percent >= 100 %}success{% elseif percent >= 40 %}warning{% else %}danger{% endif %} ">{{ percent }}%</span>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>


  <hr class="my-5">

  {# VERSIONS ------------------------ #}
  <h1 class="page-header h2 mt-3 mb-4">{{ 'page.release_notes.title'|trans }}</h1>
  {% for release in releases %}
    {% set prefix_txt_ver = 'page.release_notes.' ~ release.slug ~ '.' %}
    <div class="card mb-4">
      <div class="card-header">
        <div class="row align-items-center">
          <h2 class="h4 mb-0 col">{{ (prefix_txt_ver ~ 'title')|trans }}</h2>
          <small class="text-muted col-auto">{{ (prefix_txt_ver ~ 'date')|trans|format_datetime('medium', 'none') }}</small>
        </div>
      </div>
      <div class="card-body">
        {% if release.count_new is defined %}
          <h3 class="h5 font-weight-bold">
            {{ 'page.release_notes.title_func_add'|trans({ '%plural%': release.count_new > 1 ? 's' : '' }) }}
          </h3>
          <ul class="mb-4">
            {% for i in 1..release.count_new %}
              <li class="mb-2">{{ (prefix_txt_ver ~ 'list_new.item_' ~ i)|trans|raw }}</li>
            {% endfor %}
          </ul>
        {% endif %}
        {% if release.count_update is defined %}
          <h3 class="h5 font-weight-bold">
            {{ 'page.release_notes.title_update'|trans({ '%plural%': release.count_update > 1 ? 's' : '' }) }}
          </h3>
          <ul class="mb-4">
            {% for i in 1..release.count_update %}
              <li class="mb-2">{{ (prefix_txt_ver ~ 'list_update.item_' ~ i)|trans|raw }}</li>
            {% endfor %}
          </ul>
        {% endif %}
        {% if release.count_fix is defined %}
          <h3 class="h5 font-weight-bold">
            {{ 'page.release_notes.title_fix'|trans({ '%plural%': release.count_fix > 1 ? 's' : '' }) }}
          </h3>
          <ul class="mb-4">
            {% for i in 1..release.count_fix %}
              <li class="mb-2">{{ (prefix_txt_ver ~ 'list_fix.item_' ~ i)|trans|raw }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
    </div>
  {% endfor %}
</div>

<div>
  <a href="{{ path('dashboard') }}" class="btn btn-outline-secondary btn-sm">
    <span class="icon-chevron-left"></span> {{ 'page.btn_back_website.label'|trans }}
  </a>
</div>
{% endblock %}
