{% set default_bank_account = app.user.getDefaultBankAccount() %}

{# Delete errors form label ! #}
{% form_theme form_transaction _self %}
{% block form_label_errors %}{% endblock %}

<div class="form-row">
  <div class="col-sm-6 mb-3">
    {{ form_label(form_transaction.date) }}
    {{ form_widget(form_transaction.date, { attr: { 'data-form-clear': 'false', 'value': ('now'|date('Y-m-d')) } }) }}
    {{ form_errors(form_transaction.date) }}
  </div>

  <div class="col-sm-6 mb-3">
    {{ form_label(form_transaction.amount) }}
    <div class="input-group">
      {{ form_widget(form_transaction.amount) }}
      <div class="input-group-append">
        <span class="input-group-text">{{ default_bank_account.currency.label }}</span>
      </div>
    </div>
    {{ form_errors(form_transaction.amount) }}
  </div>
</div>

<div class="form-row">
  <div class="col-sm-6 mb-3">
    {{ form_label(form_transaction.label) }}
    {{ form_widget(form_transaction.label) }}
    {{ form_errors(form_transaction.label) }}
  </div>

  <div class="col-sm-6 mb-3">
    {{ form_label(form_transaction.category) }}
    {{ form_widget(form_transaction.category) }}
    {{ form_errors(form_transaction.category) }}
  </div>
</div>

<div class="mb-3">
  {{ form_label(form_transaction.details) }}
  {{ form_widget(form_transaction.details) }}
  {{ form_errors(form_transaction.details) }}
</div>
