{% set default_bank_account = app.user.getDefaultBankAccount() %}

{# Set default values if in DEV environment #}
{% set default_amount_value = (app.environment == 'dev') ? (random(25, 400) * ((random()%2) ? 1 : -1)) : '' %}
{% set default_label_value = (app.environment == 'dev') ? ('Test #' ~ ('now'|date('u'))) : '' %}
{% set default_category_id = (app.environment == 'dev') ? 313 : 145 %}

{# Delete errors form label ! #}
{% form_theme form_transaction _self %}
{% block form_label_errors %}{% endblock %}

<div class="form-row">
  <div class="col-sm-6 mb-3">
    {{ form_label(form_transaction.date) }}
    {{ form_widget(form_transaction.date, { attr: { 'data-form-clear': 'false', 'value': ('now'|date('Y-m-d')) } }) }}
    {{ form_errors(form_transaction.date) }}
  </div>

  <div class="col-sm-6 mb-3">
    {{ form_label(form_transaction.amount) }}
    <div class="input-group">
      {{ form_widget(form_transaction.amount, { type: 'number', attr: { 'data-form-default-value': default_amount_value } }) }}
      <div class="input-group-append">
        <span class="input-group-text">{{ default_bank_account.currency.label }}</span>
      </div>
    </div>
    {{ form_errors(form_transaction.amount) }}
  </div>
</div>

<div class="form-row">
  <div class="col-sm-6 mb-3">
    {{ form_label(form_transaction.label) }}
    {{ form_widget(form_transaction.label, { attr: { 'data-form-default-value': default_label_value } }) }}
    {{ form_errors(form_transaction.label) }}
  </div>

  <div class="col-sm-6 mb-3">
    {{ form_label(form_transaction.category) }}
    {{ form_widget(form_transaction.category, { attr: { 'data-form-default-value': default_category_id } }) }}
    {{ form_errors(form_transaction.category) }}
  </div>
</div>
