{# NOTE: Block used to display a list of transactions #}
{% if transactions is defined and transactions is not empty %}
  {% set default_bank_account = app.user.getDefaultBankAccount() %}
  <div class="card">
    <div class="card-header">
      <div class="row align-items-center">
        <div class="col-9 pr-0">
          <h3 class="h5 mb-0">
            {% if title is defined and title is not empty %}
              {{ title }}
            {% else %}
              {{ 'block.trans_list.default_title'|trans }}
            {% endif %}
            <small>({{ default_bank_account.label }})</small>
          </h3>
        </div>
        <div class="col-3 pl-0 text-right">
        {% if form_transaction is defined %}
          <button type="button" name="button" class="btn btn-sm btn-primary toggle-panel-transaction" data-panel-type="add">
            <span class="icon icon-plus-square"></span><span class="sr-only{#d-none d-sm-inline#}"> Ajouter une transaction</span>
          </button>
        {% endif %}
        </div>
      </div>
    </div>
    {% set last_date = null %}
    <div class="list-transactions"{% if limit_max is defined %} data-kb-limit-items="{{ limit_max }}"{% endif %}
      {% if date_start is defined and date_start is not null %} data-kb-date-start="{{ date_start }}"{% endif %}
        {% if date_end is defined and date_end is not null %} data-kb-date-end="{{ date_end }}"{% endif %}>
      {% for transac in transactions %}
        {% if last_date != transac.date|date('Y-m-d') %}
          <div class="-item -item-date" data-kb-date-formatted="{{ transac.date|date('Y-m-d') }}">
            {{ transac.date|format_datetime('long', 'none') }}
          </div>
        {% endif %}
        <div class="-item -item-transac" data-kb-id-transaction="{{ transac.id }}" data-kb-date-formatted="{{ transac.date|date('Y-m-d') }}">
          {# TRANS:CATEGORY/ICON & COLOR #}
          <div class="col col-auto col-icon">
            <span class="-transac-category avatar" title="{{ transac.category.label }}">
              <span class="avatar-text rounded-circle" style="background-color: {{ transac.category.color }};">
                <span class="icon icon-{{ transac.category.icon }}"></span>
              </span>
            </span>
          </div>
          {# TRANS:TEXT #}
          <div class="col col-text">
            <span class="-transac-label">{{ transac.label }}</span>
            <div class="-transac-details -more-info small text-muted">
              {% if transac.details is not empty %}
                {{ transac.details }}
              {% endif %}
            </div>
          </div>
          {# TRANS:AMOUNT/PRICE #}
          <div class="col col-price">
            {% include 'components/price.html.twig' with {
              amount        : transac.amount,
              currency      : transac.bankAccount.currency.label,
              custom_class  : '-transac-amount' } %}
          </div>
          {# TRANS:ACTIONS #}
          <div class="col col-more">
            {# absolute version #}
            {#<a class="btn btn-secondary btn-edit-transac" href="#{{ transac.id }}">
              <span class="sr-only">Modifier</span>
              <span class="icon icon-edit"></span>
            </a>
            <a class="btn btn-danger btn-delete-transac" href="#{{ transac.id }}">
              <span class="sr-only">Supprimer</span>
              <span class="icon icon-trash"></span>
            </a>#}
            <span class="kb-more-dots align-middle" data-toggle="dropdown" aria-expanded="false">
              <span class="dot"></span>
            </span>
            <div class="dropdown-menu dropdown-menu-right text-right">
              {% if form_transaction is defined %}
                <button class="dropdown-item btn-edit-transac toggle-panel-transaction"
                  type="button" data-panel-type="edit" data-panel-id-edit="{{ transac.id }}">
                  Modifier <span class="ml-1 icon icon-edit"></span>
                </button>
              {% endif %}
              <button class="dropdown-item" type="button" data-confirm-href="{{ path('transaction_delete', { id: transac.id }) }}"
                data-confirm-body="Êtes-vous sûr de vouloir supprimer la transaction : <br><b>&laquo;&nbsp;{{ transac.label }}&nbsp;&raquo;</b> ?"
                  data-toggle="modal" data-target="#modal-confirm-delete">
                Supprimer <span class="ml-1 icon icon-trash"></span>
              </button>
            </div>
          </div>
        </div>
        {% set last_date = transac.date|date('Y-m-d') %}
      {% endfor %}
    </div>
    {% block footer %}
      <div class="card-footer small text-muted">
        <div class="row">
          <div class="col">
            {% if current_page is defined and nb_by_page is defined and nb_transactions is defined %}
              {{ ((current_page - 1) * nb_by_page) + 1 }} - {{ min(current_page * nb_by_page, nb_transactions) }}
            {% endif %}
          </div>
          <div class="col text-right">
            {% if nb_transactions is defined %}
              {{ 'block.trans_list.total_text'|trans({ '%amount%': nb_transactions, '%plural%': ((nb_transactions > 1) ? 's' : '') })|raw }}
            {% endif %}
          </div>
        </div>
      </div>
    {% endblock %}
  </div>
{% else %}
  <div class="alert alert-secondary">
    {{ 'block.trans_list.empty'|trans }}
  </div>
{% endif %}
