{# NOTE: Block used to display a list of transactions #}
{% if transactions is defined and transactions is not empty %}
  {% set default_bank_account = app.user.getDefaultBankAccount() %}
  <div class="card">
    <div class="card-header">
      <h3 class="h5 mb-0">
        {% if title is defined and title is not empty %}
          {{ title }}
        {% else %}
          {{ 'block.trans_list.default_title'|trans }}
        {% endif %}
        <small>({{ default_bank_account.label }})</small>
      </h3>
    </div>
    {% set last_date = null %}
    <div class="list-with-actions list-transactions{% if no_scroll is defined %} -no-scroll{% endif %}"{% if limit_max is defined %} data-kb-limit-items="{{ limit_max }}"{% endif %}
      {% if date_start is defined and date_start is not null %} data-kb-date-start="{{ date_start }}"{% endif %}
        {% if date_end is defined and date_end is not null %} data-kb-date-end="{{ date_end }}"{% endif %}>
      {% for transac in transactions %}
        {% set is_bank_transfer = transac.bankTransferLinkedTransaction is not empty %}
        {% if last_date != transac.date|date('Y-m-d') %}
          <div class="-item -item-date" data-kb-date-formatted="{{ transac.date|date('Y-m-d') }}">
            {{ transac.date|format_datetime('long', 'none') }}
          </div>
        {% endif %}
        <div class="-item -item-transac" data-kb-id-transaction="{{ transac.id }}" data-kb-date-formatted="{{ transac.date|date('Y-m-d') }}">
          {# TRANS:CATEGORY/ICON & COLOR #}
          <div class="col col-auto col-icon">
            <span class="-transac-category avatar" title="{{ transac.category.label }}">
              <span class="avatar-text rounded-circle" style="background-color: {{ transac.category.color }};">
                <span class="icon icon-{{ transac.category.icon }}"></span>
              </span>
            </span>
          </div>
          {# TRANS:TEXT #}
          <div class="col col-text text-truncate">
            <span class="-transac-label">{{ transac.label }}</span>
            <div class="-transac-details -more-info small text-muted text-truncate">
              {% set transac_bank_account_to_label = null %}
              {% if is_bank_transfer %}
                {% set transac_bank_account_to_label = ('block.trans_list.bank_transfer_' ~ (transac.amount > 0 ? 'from': 'to'))|trans({
                  '%bank_account_label%': transac.bankTransferLinkedTransaction.bankAccount.label
                }) %}
                <span class="icon icon-log-out"{% if transac.details is not empty %} title="{{ transac_bank_account_to_label }}" data-toggle="tooltip" data-placement="top" data-html="true"{% endif %}></span>
              {% endif %}

              {% set transac_details = transac.details is not empty ? transac.details : transac_bank_account_to_label %}
              {% if transac_details is not empty %}
                {{ transac_details|raw }}
              {% endif %}
            </div>
          </div>
          {# TRANS:AMOUNT/PRICE #}
          <div class="col col-price">
            {% include 'components/price.html.twig' with {
              amount        : transac.amount,
              currency      : transac.bankAccount.currency.label,
              custom_class  : '-transac-amount' } %}
          </div>
          {# TRANS:ACTIONS #}
          <div class="col col-more">
            {% if form_transaction is defined and is_bank_transfer == false %}
              <button class="btn btn-sm btn-pill btn-outline-secondary mr-1" type="button" data-id-edit="{{ transac.id }}"
                data-toggle="modal" data-target="#modal-manage-transaction">
                <span class="icon icon-edit"></span>
              </button>
            {% endif %}

            <button class="btn btn-sm btn-pill btn-outline-danger" type="button" data-confirm-href="{{ path('transaction_delete', { id: transac.id }) }}"
              data-entity-name="transaction" data-entity-id="{{ transac.id }}"
                data-confirm-body="Êtes-vous sûr de vouloir supprimer la transaction : <br><b>&laquo;&nbsp;{{ transac.label }}&nbsp;&raquo;</b> ?"
                  data-toggle="modal" data-target="#modal-confirm-delete">
              <span class="icon icon-trash"></span>
            </button>
          </div>
        </div>
        {% set last_date = transac.date|date('Y-m-d') %}
      {% endfor %}
    </div>
    {% block footer %}
      <div class="card-footer small text-muted">
        <div class="row">
          <div class="col">
            {% if current_page is defined and nb_by_page is defined and nb_transactions is defined %}
              {{ ((current_page - 1) * nb_by_page) + 1 }} - {{ min(current_page * nb_by_page, nb_transactions) }}
            {% endif %}
          </div>
          <div class="col text-right">
            {% if nb_transactions is defined %}
              {{ 'block.trans_list.total_text'|trans({ '%amount%': nb_transactions, '%plural%': ((nb_transactions > 1) ? 's' : '') })|raw }}
            {% endif %}
          </div>
        </div>
      </div>
    {% endblock %}
  </div>
{% else %}
  <div class="alert alert-secondary">
    {{ 'block.trans_list.empty'|trans }}
  </div>
{% endif %}
