{% set icons = {
  'brands' : [
    'android', 'apple', 'ios', 'microsoft'
  ],
  'material-icons' : [
    'smartphone', 'paint', 'laptop', 'desktop', 'security', 'tablet', 'rotate-right',
    'travel-bus', 'travel-car', 'gas-station', 'cart', 'hospital', 'store', 'food', 'ev-station', 
    'train', 'fastfood', 'cake', 'earth', 'bank', 'wallet', 'credit-card', 'gift', 'flight-takeoff', 
    'gavel', 'pets', 'cases', 'housing', 'gaming', 'clothes', 'hammer', 'nightlife', 'donation',
    'smoking', 'spa', 'construction', 'hairdresser'
  ],
  'feather' : [ 
    'at-sign', 'bar-chart', 'book', 'chevron-down', 'chevron-left', 'chevron-right', 'chevron-up', 'clock',
    'code', 'coffee', 'command', 'download', 'edit', 'folder-plus', 'help-circle', 'home', 'key', 'list', 
    'lock', 'log-in', 'log-out', 'pie-chart', 'plus', 'plus-square', 'power', 'repeat', 'save', 'settings', 
    'sliders', 'tag', 'trash', 'user', 'watch'
  ]
} %}

{% set total_icons = 0 %}
{% for list in icons %}
  {% set total_icons = total_icons + list|length %}
{% endfor %}

<h2 class="h3" id="icons">Icons <small class="badge badge-pill badge-primary ml-1">{{ total_icons }}</small></h2>
<p class="text-muted">Icons from IcoMoon webapp</p>

{% for source, list in icons %}
  <h3 class="h4">{{ source|replace({'-': ' '})|title }} <small class="badge badge-pill badge-secondary ml-1">{{ list|length }}</small></h3>
  <div class="row mx-0">
  {% for icon_slug in list %}
    <div class="col-12 col-sm-4 col-md-3 col-lg-2 px-0">
      <div class="card text-center" style="border-radius:0">
        <div class="card-body">
          <span class="h2 icon-{{ icon_slug }}"></span>
        </div>
        <div class="card-footer small px-2">
          .icon-{{ icon_slug }}
        </div>
      </div>
    </div>
  {% endfor %}
  </div>
  {% if loop.last == false %}<hr class="my-4">{% endif %}
{% endfor %}
