{% extends 'base.html.twig' %}

{% if trans_period_type == 'monthly' %}
  {% set month_literal = curr_date_start|format_date(pattern='MMMM') %}
  {% set for_literal = month_literal|lower|first in ['a', 'e', 'i', 'o', 'u'] ? "d'": "de " %}
  {% set page_title = '<span class="icon icon-bar-chart"></span> ' ~ ('page.statistics.title')|trans({ '%date%': (month_literal|capitalize ~ '&nbsp;' ~ curr_date_start|date('Y')), '%for_literal%': for_literal }) %}
{% elseif trans_period_type == 'yearly' %}
  {% set page_title = '<span class="icon icon-bar-chart"></span> ' ~ ('page.statistics.title_period_yearly')|trans({ '%year%': curr_date_start|date('Y') }) %}
{% else %}
  {% set page_title = '<span class="icon icon-bar-chart"></span> ' ~ ('page.statistics.title_period_custom')|trans({ '%date_start%': curr_date_start|format_datetime('long', 'none'), '%date_end%': curr_date_end|format_datetime('long', 'none') }) %}
{% endif %}


{# Header #}
{% block header %}
  <div class="app-header">
    {% embed 'components/header.html.twig' %}
      {% block block_page_title %}
        {# Statistics navigation buttons #}
        {% if trans_prev_link is not null or trans_next_link is not null %}
        <div class="header-title container mb-5">
          <div class="row align-items-center">
            <div class="col-6 col-md-2 px-md-0 order-md-first">
              {% if trans_prev_link is not null %}
                <a class="btn btn-sm btn-pill btn-outline-light" href="{{ trans_prev_link }}">
                  {% if trans_period_type == 'monthly' %}&laquo;&nbsp;{{ trans_prev_date|format_date(pattern='MMMM')|capitalize }}&nbsp;{{ trans_prev_date|split('-')[0] }}
                  {% elseif trans_period_type == 'yearly' %}&laquo;&nbsp;{{ trans_prev_date|split('-')[0] }}
                  {% else %}&laquo;&nbsp;Précédent{% endif %}
                </a>
              {% endif %}
            </div>
            <div class="col-6 col-md-2 px-md-0 order-md-last text-right">
              {% if trans_next_link is not null %}
                <a class="btn btn-sm btn-pill btn-outline-light" href="{{ trans_next_link }}">
                  {% if trans_period_type == 'monthly' %}{{ trans_next_date|format_date(pattern='MMMM')|capitalize }}&nbsp;{{ trans_next_date|split('-')[0] }}&nbsp;&raquo;
                  {% elseif trans_period_type == 'yearly' %}{{ trans_next_date|split('-')[0] }}&nbsp;&raquo;
                  {% else %}Suivant&nbsp;&raquo;{% endif %}
                </a>
              {% endif %}
            </div>
            <div class="col-12 col-md-8 mt-3 px-md-0">
              <h1 class="page-header text-center" id="page-header">{{ page_title|raw }}</h1>
            </div>
          </div>
        </div>
        {% else %}
          <div class="header-title container">
            <h1 class="page-header" id="page-header">{{ page_title|raw }}</h1>
          </div>
        {% endif %}
      {% endblock %}
    {% endembed %}

    {# % include 'components/header.html.twig' %#}

    <div class="bg-dark text-white mt-">
      <div class="container">
        <div class="row">
          <div class="col-12{% if trans_period_type != 'yearly' %} col-md-8 col-xl-9{% endif %} mb-4">
            <div class="chart-js" data-chartjs-type="line" data-chartjs-data-name="transactions_by_days"
              data-chartjs-legend-display="false" data-chartjs-grid-color="white">
              <canvas></canvas>
            </div>

            <script type="text/javascript">
              var transactions_by_days = {
                labels    : [],
                datasets  : [{
                  label : 'Dépenses',
                  data  : [],
                  fill  : true,
                  backgroundColor : 'rgba(238, 82, 83, 0.5)',
                  borderColor     : 'rgba(238, 82, 83, .75)',
                  borderWidth     : 2,
                  tension         : .25
                },
                {
                  label : 'Revenus',
                  data  : [],
                  fill  : true,
                  backgroundColor : 'rgba(46, 204, 113, 0.5)',
                  borderColor     : 'rgba(46, 204, 113, .75)',
                  borderWidth     : 2,
                  tension         : .25
                }]
              };

              {% for exp in total_expenses_by_date %}
                transactions_by_days.labels.push('{{ exp.date|format_date(pattern='dd MMM') }}');
                transactions_by_days.datasets[0].data.push(Math.round(({{ exp.amount_sum }} + Number.EPSILON) * 100) / 100 * -1);
              {% endfor %}

              {% for inc in total_incomes_by_date %}
                transactions_by_days.datasets[1].data.push(Math.round(({{ inc.amount_sum }} + Number.EPSILON) * 100) / 100);
              {% endfor %}
            </script>
          </div>

          <div class="col-12{% if trans_period_type != 'yearly' %} col-md-4 col-xl-3{% endif %}">
            {% include 'components/incomes-and-expenses.html.twig' with {
              expenses: total_expenses,
              incomes: total_incomes,
              date_start: curr_date_start,
              date_end: curr_date_end,
              bank_account: app.user.getDefaultBankAccount(),
              full_width: (trans_period_type != 'yearly')
            } %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block body %}
  <div class="container">
    <div class="row">
      {% if total_expenses_by_cats is not empty or total_incomes_by_cats is not empty %}
        <div class="col-12 col-md-5 mb-4 mb-md-0 order-md-last align-self-start position-md-sticky top-md-3">
          <div class="card charts-trans-by-cats">
            <div class="card-header d-flex align-items-center">
              <h3 class="h5 mb-0">{{ 'page.statistics.chart_exp_inc.title'|trans }}</h3>
            </div>
            <div class="card-body text-center">
              <div class="list-group list-group-horizontal mb-4 mx-auto small" id="trans-list-tab" role="tablist">
                <a class="list-group-item list-group-item-action py-1 px-2 active" id="trans-list-expenses-list"
                  data-toggle="list" href="#trans-list-expenses" role="tab" aria-controls="expenses">
                  {{ 'page.dashboard.chart_exp_inc.nav_tab.expenses'|trans }}
                </a>
                <a class="list-group-item list-group-item-action py-1 px-2" id="trans-list-incomes-list"
                  data-toggle="list" href="#trans-list-incomes" role="tab" aria-controls="incomes">
                  {{ 'page.dashboard.chart_exp_inc.nav_tab.incomes'|trans }}
                </a>
              </div>

              <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="trans-list-expenses" role="tabpanel" aria-labelledby="trans-list-expenses-list">
                  {% if total_expenses_by_cats is not empty %}
                    <div class="chart-js" data-chartjs-type="pie" data-chartjs-aspect-ratio="1.6"
                      data-chartjs-data-name="total_expenses"
                        data-chartjs-legend-position="right" data-chartjs-legend-hide="xs|sm|md">
                      <canvas></canvas>
                    </div>
                    <script type="text/javascript">
                      var total_expenses = {
                        labels    : [],
                        datasets  : [{
                          data: [],
                          backgroundColor : [],
                        }]
                      };

                      {% for exp in total_expenses_by_cats %}
                        total_expenses.labels.push('{{ exp.label }}');
                        total_expenses.datasets[0].data.push(Math.round(({{ exp.amount_sum }} + Number.EPSILON) * 100) / 100);
                        total_expenses.datasets[0].backgroundColor.push('{{ exp.color }}');
                      {% endfor %}
                    </script>
                  {% else %}
                    <div class="alert alert-secondary my-5">
                      {{ 'page.dashboard.chart_exp_inc.no_expenses'|trans({ '%date%': (month_literal|capitalize), '%for_literal%': for_literal })|raw }}
                    </div>
                  {% endif %}
                </div>

                <div class="tab-pane fade" id="trans-list-incomes" role="tabpanel" aria-labelledby="trans-list-incomes-list">
                  {% if total_incomes_by_cats is not empty %}
                    <div class="chart-js" data-chartjs-type="pie" data-chartjs-aspect-ratio="1.6"
                      data-chartjs-data-name="total_incomes"
                        data-chartjs-legend-position="right" data-chartjs-legend-hide="xs|sm|md">
                      <canvas></canvas>
                    </div>
                    <script type="text/javascript">
                      var total_incomes = {
                        labels    : [],
                        datasets  : [{
                          data: [],
                          backgroundColor : [],
                        }]
                      };

                      {% for inc in total_incomes_by_cats %}
                        total_incomes.labels.push('{{ inc.label }}');
                        total_incomes.datasets[0].data.push(Math.round(({{ inc.amount_sum }} + Number.EPSILON) * 100) / 100);
                        total_incomes.datasets[0].backgroundColor.push('{{ inc.color }}');
                      {% endfor %}
                    </script>
                  {% else %}
                    <div class="alert alert-secondary my-5">
                      {{ 'page.dashboard.chart_exp_inc.no_incomes'|trans({ '%date%': (month_literal|capitalize), '%for_literal%': for_literal })|raw }}
                    </div>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endif %}
      <div class="col-12 {% if total_expenses_by_cats is not empty or total_incomes_by_cats is not empty %}col-md-7{% endif %}">
        {% include 'components/transactions/list.html.twig' with { no_scroll: true } %}
      </div>
    </div>
  </div>
{% endblock %}
