{% set default_bank_account = app.user.getDefaultBankAccount() %}

{# Delete errors form label ! #}
{% form_theme form_transaction _self %}
{% block form_label_errors %}{% endblock %}

<div class="modal modal-manage-entity fade" id="modal-manage-transaction" tabindex="-1" role="dialog" aria-labelledby="modal-manage-transaction-label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-maximized modal-sm">
    <div class="modal-content">
    {{ form_start(form_transaction, { 'action': path('transaction_manage'), 'attr' : { 'class': 'app-form-transaction -use-ajax-submit' } }) }}
      <div class="modal-header px-4 py-5 d-block border-0" style="background-color: {{ default_category.color }};">
        <button type="button" class="close" data-dismiss="modal" aria-label="Fermer">
          <span aria-hidden="true">&times;</span>
        </button>

        <h5 class="modal-title font-weight-bold" id="modal-manage-transaction-label">
          {{ form_widget(form_transaction.label) }}
          {{ form_errors(form_transaction.label) }}
        </h5>

        <div class="my-4">
          {{ form_widget(form_transaction.amount) }}
        </div>

        <div class="custom-select-icons" style="color: {{ default_category.color }};">
          <span class="-icon icon-{{ default_category.icon }}"></span>
          {{ form_widget(form_transaction.category, { attr: { 'data-form-default-value': default_category is defined ? default_category.id : '' } }) }}
        </div>
      </div>
      
      <div class="modal-body px-4 pt-4 pb-3">
        <div class="mb-3">
          {{ form_label(form_transaction.date) }}
          {{ form_widget(form_transaction.date, { attr: { 'data-form-clear': 'false', 'value': ('now'|date('Y-m-d')) } }) }}
        </div>
        <div>
          {{ form_label(form_transaction.details) }}
          {{ form_widget(form_transaction.details) }}
          {{ form_errors(form_transaction.details) }}
        </div>
      </div>

      <div class="modal-footer justify-content-center pt-0 pb-4 border-0">
        <button class="btn btn-outline-secondary btn-sm mx-1 d-edit-none -modal-stay-open" type="submit" name="submit">
          Ajouter et continuer
        </button>
        <button class="btn btn-secondary mx-1" type="submit" name="submit">
          <span class="d-edit-none">
            <span class="icon icon-plus-square"></span>
            Ajouter
          </span>
          <span class="d-edit-inline-block">
            <span class="icon icon-edit"></span>
            Modifier
          </span>
        </button>
      </div>
      {% include 'components/forms/ajax-components.html.twig' %}
    {{ form_end(form_transaction) }}
    </div>
  </div>
</div>
