<div class="app-footer">
  <div class="container{% if full_width is defined and full_width == true %}-fluid{% endif %} clearfix">
    <div class="footer-item footer-item--left footer-item--links">
      <ul class="list-inline">
        {#<li class="list-inline-item">
          <a href="#legal-terms">Mentions légales</a>
        </li>
        <li class="list-inline-item">
          <a href="#personal-data">Données personnelles</a>
        </li>#}
        {% set static_pages = {
          'about' : {
            'en' : { 'slug' : 'about',    'label' : 'page.about.link.label' },
            'fr' : { 'slug' : 'a-propos', 'label' : 'page.about.link.label' }
          },
          'release-notes' : {
            'en' : { 'slug' : 'release-notes',    'label' : app_version, 'label_no_trans' : true },
            'fr' : { 'slug' : 'notes-de-version', 'label' : app_version, 'label_no_trans' : true }
          },
        } %}
        {% for s_page in static_pages %}
          {% set page = s_page[app.request.locale] %}
          <li class="list-inline-item">
            <a href="{{ path('static_pages', { slug: page.slug }) }}">
              {% if page.label_no_trans is defined %}{{ page.label }}
              {% else %}{{ page.label|trans }}{% endif %}
            </a>
          </li>
        {% endfor %}
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') and app.environment == 'dev' %}
          <li class="list-inline-item">
            <a href="{{ path('demo') }}">
              <span class="icon icon-save"></span>
              Démo
            </a>
          </li>
        {% endif %}
        {% if is_granted('IS_AUTHENTICATED_FULLY') and is_granted('ROLE_ADMIN') %}
          <li class="list-inline-item">
            <a href="{{ path('admin') }}">
              <span class="icon icon-settings"></span>
              Admin
            </a>
          </li>
          <li class="list-inline-item">
            <a href="{{ path('jmose_command_scheduler_list') }}" target="_blank">
              <span class="icon icon-watch"></span>
              Tâches
            </a>
          </li>
        {% endif %}
      </ul>
    </div>

    {% set release_year = 2021 %}
    {% set text_year    = "now"|date('Y') %}
    {% if release_year < text_year %}
      {% set text_year = release_year ~ ' / ' ~ text_year %}
    {% endif %}
    <div class="footer-item footer-item--right footer-item--author">
      &copy;&nbsp;{{ text_year }} - Conçu avec du <span class="icon-code" title="code" alt="code"></span>
      et un peu de <span class="icon-coffee" title="thé ou café" alt="thé ou café"></span>
      par <a href="https://litti-aurelien.fr" title="litti-aurelien.fr" target="_blank">Litti Aurélien</a>
    </div>
  </div>
</div>
