{% set logo_text = (logo_text is defined) ? logo_text : 'Kakeibo' %}
{% set hide_text = (hide_text is defined) ? hide_text : false %}
{% set custom_class = (custom_class is defined) ? ' ' ~ custom_class : '' %}
{% set type_text  = (type_text is defined) ? type_text : 'sub' %}
{% set display_version = (display_version is defined) ? display_version : true  %}

{# Link or not link ? That is the question ! #}
{% set tag_start  = (link is defined) ? 'a href=' ~ link : ((custom_tag is defined) ? custom_tag : 'span') %}
{% set tag_end    = (link is defined) ? 'a' : ((custom_tag is defined) ? custom_tag : 'span') %}

<{{ tag_start }} class="brand-logo{{ custom_class }}">
  <span class="_text _text-{{ type_text }}">{{ logo_text }}</span>
  {% if display_version == true %}<span class="_version">alpha</span>{% endif %}
</{{ tag_end }}>
