{% set size_display_menu = 'md' %}

<nav class="navbar navbar-default">
  <div class="container">
    <a class="navbar-brand" href="{{ path('dashboard') }}">
      {% include 'components/logo.html.twig' with { logo_text : 'K', custom_class : (app.request.attributes.get('_route') == 'dashboard' ? 'text-white bg-primary border-primary' : 'text-primary') } %}
    </a>

    <button class="navbar-toggler mr-auto" type="button" data-toggle="collapse"
      data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="{{ 'menu.btn_toggle.aria_label'|trans }}">
      <span class="navbar-toggler-icon"></span>
    </button>

    {# Select (BS dropdown) used to change / add bank account #}
    {% include 'components/menu/bank-account-select.html.twig' %}

    {# User's shortcuts (BS dropdown) #}
    {% include 'components/menu/user.html.twig' %}

    <div class="collapse navbar-collapse order-{{ size_display_menu }}-1" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        {#<li class="nav-item d-block d-{{ size_display_menu }}-none">
          {% include 'components/logo.html.twig' with { custom_class : 'text-primary' } %}
        </li>#}
        <li class="nav-item{% if app.request.attributes.get('_route') == 'statistics' %} active{% endif %}">
          <a class="nav-link" href="{{ path('statistics') }}">
            <span class="icon icon-bar-chart"></span>
            {{ 'menu.links.statistics.label'|trans }}
            {% if app.request.attributes.get('_route') == 'statistics' %} <span class="sr-only">(current)</span>{% endif %}
          </a>
        </li>
        <li class="nav-item{% if app.request.attributes.get('_route') == 'transactions' %} active{% endif %}">
          <a class="nav-link" href="{{ path('transactions') }}">
            <span class="icon icon-list"></span>
            {{ 'menu.links.transactions.label'|trans }}
            {% if app.request.attributes.get('_route') == 'transactions' %} <span class="sr-only">(current)</span>{% endif %}
          </a>
        </li>
        <li class="nav-item{% if app.request.attributes.get('_route') == 'automaton' %} active{% endif %}">
          <a class="nav-link" href="{{ path('automaton') }}">
            <span class="icon icon-command"></span>
            {{ 'menu.links.automaton.label'|trans }}
            {% if app.request.attributes.get('_route') == 'automaton' %} <span class="sr-only">(current)</span>{% endif %}
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
