{% extends 'base.html.twig' %}

{% block body %}
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-7 col-xl-6 col-xxl-7">
        {% embed 'components/transactions/list.html.twig' with {
          title: 'page.dashboard.trans_list.title'|trans,
          transactions: last_transactions
        } %}
          {% block footer %}
            <div class="card-footer">
              <div class="row align-items-center">
                <div class="col">
                  {% set plural = (last_trans_amount > 1) ? 's' : '' %}
                  <small class="d-block text-muted">
                    {{ 'page.dashboard.trans_list.footer_text'|trans({ '%amount%': last_trans_amount, '%plural%': ((last_trans_amount > 1) ? 's' : '') })|raw }}
                  </small>
                </div>
                <div class="col text-right">
                  <a href="{{ path('transactions') }}" class="btn btn-sm btn-outline-primary">
                    {{ 'page.dashboard.trans_list.all.label'|trans }} <span class="icon icon-chevron-right"></span>
                  </a>
                </div>
              </div>
            </div>
          {% endblock %}
        {% endembed %}
      </div>

      <hr class="w-75 my-4 d-md-none" />

      <div class="col-12 col-md-5 col-xl-6 col-xxl-5 order-first order-md-last">
        {% include 'components/incomes-and-expenses.html.twig' with {
          expenses: total_expenses,
          incomes: total_incomes,
          date_start: totals_date_start,
          date_end: totals_date_end,
          bank_account: current_bank_account
        } %}

        <div class="card d-none d-md-block">
          <div class="card-header d-flex align-items-center">
            <div class="col pl-0">
              <h3 class="h5 mb-0">
                {% set month_literal = totals_date_start|localizeddate('none', 'none', null, null, 'MMMM') %}
                {% set for_literal = month_literal|lower|first in ['a', 'e', 'i', 'o', 'u'] ? "d'": "de " %}
                {{ 'page.dashboard.chart_exp.title'|trans({ '%date%': (month_literal|capitalize), '%for_literal%': for_literal }) }}
              </h3>
            </div>
            <div class="col-auto px-0">
              <a href="{{ path('statistics')}}" class="btn btn-sm btn-outline-primary">
                {{ 'page.dashboard.chart_exp.more.label'|trans }} <span class="icon-chevron-right"></span>
              </a>
            </div>
          </div>
          <div class="card-body text-center">
            <div class="chart-js mb-3" data-chartjs-type="pie" data-chartjs-data-name="total_expenses"
              data-chartjs-legend-position="right" data-chartjs-legend-hide="xs|sm|md|lg">
              <canvas></canvas>
            </div>
            <script type="text/javascript">
              var total_expenses = {
                labels    : [],
                datasets  : [{
                  data: [],
                  backgroundColor : [],
                }]
              };

              {% for exp in total_expenses_by_cats %}
                total_expenses.labels.push('{{ exp.label }}');
                total_expenses.datasets[0].data.push(Math.round(({{ exp.amount_sum }} + Number.EPSILON) * 100) / 100);
                total_expenses.datasets[0].backgroundColor.push('{{ exp.color }}');
              {% endfor %}
            </script>

            {#<div class="chart-js" data-chartjs-type="pie" data-chartjs-data-name="total_incomes"
              data-chartjs-legend-position="left">
              <canvas></canvas>
            </div>
            <script type="text/javascript">
              var total_incomes = {
                labels    : [],
                datasets  : [{
                  data: [],
                  backgroundColor : [],
                }]
              };

              { % for inc in total_incomes_by_cats %}
                total_incomes.labels.push('{{ inc.label }}');
                total_incomes.datasets[0].data.push(Math.round(({{ inc.amount_sum }} + Number.EPSILON) * 100) / 100);
                total_incomes.datasets[0].backgroundColor.push('{{ inc.color }}');
              { % endfor %}
            </script>#}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
